.head
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;

    
}
.name
{
    padding-right: 440px;
    padding-left: 50px;
    padding-top: 5px;
}
.container1
{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 5px 10px 8px black;
}
.con1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    background-image: url('photo3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 2px 10px 8px black;
}
.con2
{
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 5px 10px 8px black;
    padding-bottom: 30px;
    margin-top: 50px;
    background-image: url('photo2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 30px;
}
.image
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    margin-right: 200px;
    margin: 50px;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 5px 10px 8px black;
}
.hh
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
}
.ht
{
    display: flex;
    padding-top: 50px;

}
.img
{
    height: 200px;
    width: 200px;
    padding: 10px;
}
.hire 
{
    margin-left: 50px;
    box-shadow: 10px 5px 10px black;
}
.detail
{
    margin: 50px;
}
.resume
{
    border: 1px solid rgb(0, 0, 0);
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(255, 255, 255);
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 60px;
}
.download
{
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(0, 255, 13);
    color: black;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 5px 10px black;

}
.hire
{
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(0, 255, 13);
    color: black;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.bbb
{
    background-color: rgba(0, 0, 0, 0.884);
    font-family: cursive;
}
.logo1
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    margin-bottom: 5px;
}
.zi2
{
    padding-left: 20px;
    margin-top: 25px;
}
.zii2
{
    color: black;
}
.am
{
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 5px 10px 8px black;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: white;
}
.ps
{
    border: 1px solid rgb(255, 253, 253);
    margin-left: 90px;
    margin-right: 90px;
    box-shadow: 5px 10px 8px black;
    border-radius: 10px;
    margin-top: 5px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 40px;
}
.ab
{
    margin-right: 45px;
    margin-bottom: 30px;
}
.left1
{
    text-align: center;
    margin-left: 40px;
}
.right1
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.left2
{
    text-align: center;
}
.right2
{
    text-align: center;
}
.r2
{
    padding-right: 95px;
}
.r3
{
    padding-left: 115px;
}
.r4
{
    padding-right: 95px;
}
.dlink
{
    text-decoration: none;
    color: black;
}
.hlink
{
    text-decoration: none;
    color: black;
}
.hps
{
    margin-bottom: 40px;
}

